<!-- <h1 class="text-center text-primary">
  {{pageTitle}}
</h1> -->
<nav class='navbar navbar-expand navbar-dark bg-primary'>
  <a class='navbar-brand text-light'>{{pageTitle}}</a>
  <ul class='nav '>
    <li><a class='nav-link text-light'
         routerLinkActive='active'
         [routerLink]="['/welcome']">Home</a>
    </li>
    <li><a class='nav-link text-light'
         routerLinkActive='active'
         [routerLink]="['/products']">Product List</a>
    </li>
    <li class='nav-item'><a class='nav-link text-light'
         routerLinkActive='active'
         [routerLinkActiveOptions]="{exact: true}"
         [routerLink]="['/products/0/edit']">Add Product</a>
    </li>
  </ul>
</nav>
<div class='container'>
  <router-outlet></router-outlet>
</div>